<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="banner ion-text-center">
    <span>Retrouvez vos gains mensuelles en temps réel !</span>
  </div>
</ion-header>

<ion-content>
  <div class="input ion-padding">
    <ion-item>
      <ion-label color="primary" floating>Selectionner le mois <span class="errors">*</span></ion-label>
      <ion-input [(ngModel)]="monthYear" type="month" (ionChange)="monthChange()"></ion-input>
    </ion-item>
  </div>

  <div *ngIf="visible" class="result">
    <div class="banner ion-text-center">
      {{ displayDate }}
    </div>
    <div *ngIf="benefit.nbVisit !== 0" class="informations ion-padding">
      <p>Vous avez réalisé {{ benefit.nbVisit }} rendez-vous en mois.</p>
      <p>Votre gain mensuel s'élève à <strong>{{ benefit.sum }} euros.</strong></p>
    </div>
    <div *ngIf="benefit.nbVisit === 0" class="informations ion-padding">
      <p>Vous n'avez pas effectué de prestation en mois.</p>
    </div>
  </div>
</ion-content>
