<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="param-list">
    <ion-item *ngFor="let m of menu" (click)="open(m.open)" class="ion-text-wrap">
      <ion-icon name="{{ m.icon }}" slot="start"></ion-icon>
      <ion-label>{{ m.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
