page-home {
  ion-content{
    background: url("../assets/imgs/bg-home.png") no-repeat center center fixed;;
    background-size: cover;

    ion-label{
      font-family:'TitleFont';
      font-size: 6rem;
      color: color($colors, light);
      padding-bottom: 5rem;
    }

    #btn_group{
      button{
        width: 32rem;
        height: 8rem;
        font-size: 1.7rem;
      }
    }
  }







}
