page-home {
  ion-content {
    background: url("../assets/imgs/bg-home.png") no-repeat center center fixed;;
    background-size: cover;

    ion-label{
      font-family:'TitleFont';
      font-size: 11rem;
      color: color($colors, light);
    }

    .menu {
      margin-top: 15rem;
    }

    ion-col {
      text-align: center;
    }

    .icon-menu {
      max-width: 50%;
      max-height: 50%;
      display: inline-block;
    }

    .icon-menu .icon {
      text-align: center;
    }

    .icon-menu .icon-title {
      font-family:'TitleFont';
      font-size: 2.5rem;
      color: color($colors, light);
    }
  }
}
