page-stats {
  ion-card-header {
    background-color: color($colors, secondary);

    img{
      width: auto;
      margin: auto;
      display: block;
      max-width: 20%;
    }
  }

  .scroll-content {
            background-color: map-get($colors, light);
        }

        ion-card-header {
            font-weight: bold;
        }
}
