<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="param-list">
    <ion-item>
      <ion-label position="floating">Mot clé de synchronisation des contacts</ion-label>
      <ion-input
        type="text"
        placeholder="Entrez un mot clé"
        value="{{ syncKey }}"
        (ionBlur)="onInputBlur($event)"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Calendrier utilisé</ion-label>
      <ion-select
        value="{{ currentCalendarId }}"
        (ionChange)="onSelectChange($event)"
        cancelText="Annuler"
        okText="Valider"
        placeholder="Sélectionnez un calendrier"
      >
        <ion-select-option *ngFor="let item of calendars" value="{{item.id}}">{{ item.displayname }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
