// http://ionicframework.com/docs/theming/
// Mise en place d'une police
@font-face {
  font-family: TitleFont;
  src: url("../assets/fonts/axettac.ttf");
}

// Side menu
ion-menu{
  color: color($colors, light);

  ion-toolbar {
    img {
      max-width: 35%;
    }
  }

  ion-content{
    background-color: color($colors, primary)!important;

    button{
      background-color: color($colors, primary)!important;
      color: color($colors, light)!important;

      ion-icon{
        color: color($colors, light);
      }
    }
  }
}
//  /Side menu


// Titre pour chaques pages
ion-navbar{
  ion-label{
    font-family: 'TitleFont';
    font-size: 3rem;
    color: color($colors, light);
  }
}
