ion-header {
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;

    ion-title {
      font-size: 2rem;
    }
  }
}

ion-content {
  --background: url('../../../assets/images/bg-home.png') no-repeat center center fixed;
  background-size: cover;

  .menu {
    margin-top: 2rem;
  }

  ion-col {
    text-align: center;
  }

  .icon-menu {
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 20px;
    display: inline-block;
  }

  .icon-menu .icon {
    text-align: center;
  }

  .icon-menu .icon-title {
    font-size: 1.2rem;
    color: var(--ion-color-light);
  }
}

ion-footer {
  ion-toolbar {
    font-size: 1rem;
    color: var(--ion-color-light);
  }
}
