<ion-header no-border>
  <ion-toolbar>
    <ion-row>
      <ion-title class="ion-text-center">{{ title }}</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <ion-grid>
    <div class="menu">
      <ion-row>
        <ion-col size="6" *ngFor="let m of menu">
          <div class="icon-menu" (click)="open(m.open);">
            <div class="icon">
              <img src="{{ m.icon }}" alt="{{ m.alt }}" class="icon" />
            </div>
            <h3 class="icon-title">{{ m.title }}</h3>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar class="ion-text-center">
    <p (click)="openCalendar()">{{ rdvInProgress }}</p>
  </ion-toolbar>
</ion-footer> -->
